<div id="<%= dom_id cluster %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cluster.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cluster.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= cluster.comments %>
  </div>
</div>
