<div id="<%= dom_id genus %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">MB List ID:</strong>
    <%= genus.mblist_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Taxon Name:</strong>
    <%= genus.taxon_name %>
  </div>
</div>
