<% content_for :title, "Editing genus" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Editing genus</h1>

  <%= render "form", genus: @genus %>

  <%= link_to "Show this genus", admin_genus_path(@genus), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to genera", admin_genera_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
