<div id="<%= dom_id display_option %>" class="w-full sm:w-auto my-1 space-y-1">
  <div>
    <strong class="block font-medium mb-1">Display Option: <%= display_option.name %></strong>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= display_option.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= display_option.comments %>
  </div>
</div>
