<h2>Enter One-Time Password (2FA)</h2>

<%= form_with url: user_two_factor_authentication_path, method: :post do |form| %>
  <div>
    <%= form.label :otp_attempt, 'Enter OTP Code' %>
    <%= form.text_field :otp_attempt, required: true %>
  </div>
  <div>
    <%= form.submit 'Verify', class: 'button' %>
  </div>
<% end %>