<div id="<%= dom_id fungus_type %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= fungus_type.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= fungus_type.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= fungus_type.comments %>
  </div>
</div>
