<% content_for :title, "New Fungus Type" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New Fungus Type</h1>

  <%= render "form", fungus_type: @fungus_type %>

  <%= link_to "Back to Fungus Types", fungus_types_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
