<div id="<%= dom_id plant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plant.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= plant.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= plant.comments %>
  </div>
</div>
