<div id="<%= dom_id species %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= species.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= species.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= species.comments %>
  </div>
</div>
