<div id="<%= dom_id species %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= species.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Genus:</strong>
    <%= species.genus.name if species.genus %>
  </div>
  <div>
    <strong class="block font-medium mb-1">MB List ID:</strong>
    <%= species.mblist_id %>
  </div>
</div>
