<% content_for :title, "Editing species" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Editing species</h1>

  <%= render "form", species: @species %>

  <%= link_to "Show this species", admin_species_path(@species), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to species", admin_species_index_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
