.git
.gitignore
log/*
tmp/*
node_modules
.bundle
vendor/bundle
coverage
public/assets
public/packs
.env
.env.local
.env.*.local
.byebug_history
README.md
*.md
.DS_Store
spec
test
.rubocop.yml
.rspec
config/master.key
config/credentials/*.key
*.log
*.pid
*.seed
.vscode
.idea
db/scripts
