auth.json
composer.lock
/coverage/   # coverage reports
.DS_Store   # system file
/.env
/.env.backup
/.env.example
/.env.hostinger
/.env.local
/.env.prod
/.fleet
Homestead.json
Homestead.yaml
/hostinger   # my file
/.idea       #   Specific IDEs/editors
/node_modules
npm-debug.log
.phpactor.json
/.phpunit.cache
.phpunit.result.cache
/.project    # Specific IDEs/editors
/public/build
/public/hot
/public/storage
/storage/*.key
Thumbs.db   # system file
/vendor
/.vscode     # Specific IDEs/editors
yarn-error.log
*.log
*.swp       # temporary files
*~          # backup files

