# Authentication information
auth.json

# Directories
/bootstrap/cache

# Composer related files
composer.lock

# Test coverage reports
/coverage/

/public/build
/public/hot
/public/storage
/storage
/storage/*.key

# too big files
/MBList
*.csv
*.sql

# Environment files
.env
.env.backup
.env.example
.env.hostinger
.env.local
.env.prod

# Configuration and host specific files
.fleet
Homestead.json
Homestead.yaml
/hostinger

# System files
.DS_Store
Thumbs.db

# IDE/editor specific files
.idea
.project
.vscode
.phpactor.json
.phpunit.cache
.phpunit.result.cache

# Node modules
/node_modules
npm-debug.log
yarn-error.log

# Vendor
/vendor

# Logs and temporary files
*.log
*.swp
*~




