<div id="<%= dom_id camera_model %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= camera_model.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= camera_model.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= camera_model.comments %>
  </div>
</div>
