<% content_for :title, "Editing camera model" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing camera model</h1>

  <%= render "form", camera_model: @camera_model %>

  <%= link_to "Show this camera model", admin_camera_model_path(@camera_model), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to camera models", admin_camera_models_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
