<% content_for :title, "Clusters" %>

<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="title-xl">Clusters</h1>
    <%= link_to "New cluster", new_cluster_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="clusters" class="stack-list">
    <p class="p-mrbid">You create <b>your</b> clusters to use however you see fit. The goal is to help you organize your mushrooms and make it easier to find the ones you want.</p>
    <p class="p-mrbid">The original thought is these mushroom specimens may end up being the same genus once the identification process is completed?</p>
    <% if @clusters.any? %>
      <% @clusters.each do |cluster| %>
        <div class="stack-row">
          <%= render cluster %>
          <%= render "shared/page_actions",
                     right: (
                       (
                         link_to("Show", cluster_path(cluster), class: "btn-primary") +
                           link_to("Edit", edit_cluster_path(cluster), class: "btn-primary") +
                           button_to("Delete", cluster_path(cluster), method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure?" })
                       ).html_safe
                     )
          %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No clusters found.</p>
    <% end %>
  </div>
</div>
