<% content_for :title, "Editing Mushroom Character" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Mushroom Character</h1>
  <div><p>app/views/mr_characters/edit.html.erb</p></div>

  <%= render "form", mr_character: @mr_character %>

  <%= link_to "Show this character", admin_mr_character_path(@mr_character), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to characters", admin_mr_characters_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
