<% content_for :title, t('views.admin.mr_characters.new.title') %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl"><%= t('views.admin.mr_characters.new.title') %></h1>

  <p class="p-mrdbid"><%= t('views.admin.mr_characters.new.description') %></p>

  <%= render "form", mr_character: @mr_character %>

  <%= link_to t('views.admin.mr_characters.new.back_link'), admin_mr_characters_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
