<div>
  <h1 class="font-bold text-4xl">DnaSequences#index</h1>
  <p>DNA Sequence is coming soon.</p>
  <%= link_to "Back to Admin Dashboard", admin_root_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
</div>
