<div>
  <h1 class="font-bold text-2xl">DnaSequences#new</h1>
  <p>DNA Sequence is coming soon.</p>
  <%= link_to "Back to Admin Dashboard", admin_root_path, class: "rounded-md px-2 py-1 bg-gray-600 hover:bg-gray-500 text-white block font-medium" %>
</div>
