<div id="<%= dom_id lookup_item %>" class="w-full sm:w-auto my-1 space-y-1">
  <div>
    <strong class="block font-medium mb-1">Name:</strong> <%= lookup_item.name %> <strong class="block font-medium mb-1">Description:</strong> <%= lookup_item.description %> <strong class="block font-medium mb-1">Comments:</strong> <%= lookup_item.comments %>
  </div>
</div>
