<%# app/views/kaminari/tailwind_bar/_first_page.html.erb %>
<li>
  <% if current_page.first? %>
    <span class="inline-flex items-center h-9 px-3 rounded-md bg-gray-200 text-gray-500 cursor-not-allowed">First</span>
  <% else %>
    <%= link_to "First", url_for(page: 1), class: "inline-flex items-center h-9 px-3 rounded-md bg-white text-gray-700 border border-gray-300 hover:bg-gray-50" %>
  <% end %>
</li>