<%# app/views/kaminari/tailwind_bar/_next_page.html.erb %>
<li>
  <% if current_page.last? %>
    <span class="inline-flex items-center h-6 px-3 rounded-md bg-gray-100 text-gray-500 cursor-not-allowed">Next »</span>
  <% else %>
    <%= link_to "Next »", url_for(params.permit!.to_h.merge(page: current_page + 1)), class: "inline-flex items-center h-6 px-3 rounded-md bg-white text-gray-700 border border-gray-300 hover:bg-gray-50" %>
  <% end %>
</li>