<div id="<%= dom_id len %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Lens make:</strong>
    <%= len.lens_make_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lens model:</strong>
    <%= len.lens_model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entered by:</strong>
    <%= len.entered_by_id %>
  </div>
</div>
