<div id="<%= dom_id tree_association %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mushroom:</strong>
    <%= tree_association.mushroom_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tree:</strong>
    <%= tree_association.tree_id %>
  </div>
</div>
