<h1 class="text-xl font-semibold mb-4">New Cluster Mushroom</h1>

<%= render "form",
           cluster_mushroom: @cluster_mushroom,
           clusters: (@clusters || []),
           mushrooms: (@mushrooms || []) %>

<div class="mt-4">
  <%= link_to "Back", cluster_mushrooms_path, class: "text-blue-600 hover:underline" %>
</div>
