<h1 class="text-xl font-semibold mb-4">Add Mushroom to Cluster</h1>

<% if @mushroom %>
  <div class="mb-3 p-2 bg-gray-50">
    This mushroom: <span class="font-semibold"><%= @mushroom.name %></span>
  </div>
<% end %>

<%= render "form",
           cluster_mushroom: @cluster_mushroom,
           clusters: (@clusters || []),
           mushrooms: (@mushrooms || []) %>

<div class="mt-4">
  <%= link_to "Back to mushrooms", mushrooms_path, class: "btn-primary" %>
</div>
