<% content_for :title, "Cluster Added" %>

<div class="md:w-2/3 w-full">

  <h1 class="font-bold text-2xl">Showing Clusters</h1>

  <%= render @cluster_mushroom %>

  <%= link_to "Back to mushrooms", mushrooms_path, class: "btn-primary" %>
  <%= button_to "Remove this cluster", @cluster_mushroom, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
</div>
