<!-- app/views/shared/_form_fields.html.erb -->
   <div class="form-group">
     <%= f.label field_name, class: "block font-medium text-gray-700" %>
     <%= f.text_field field_name, class: "block shadow-sm rounded-md border px-3 py-2 w-full focus:outline-blue-600 #{error_condition ? 'border-red-400' : 'border-gray-400'}" %>
   </div>