<%= link_to root_path do %>
  <!-- MRDBID in Large Colorful Letters I hopE -->
  <span>M</span>
  <span>R</span>
  <span>D</span>
  <span>B</span>
  <span>I</span>
  <span>D</span>

  <!-- Spacer -->
  <span>&nbsp;</span>

  <!-- MushRoom DataBase Identification with Only Key Letters Colorized -->
  <span>M</span>
  <span>u</span>
  <span>s</span>
  <span>h</span>
  <span>R</span>
  <span>o</span>
  <span>o</span>
  <span>m</span>
  <span>&nbsp;</span>
  <span>D</span>
  <span>a</span>
  <span>t</span>
  <span>a</span>
  <span>B</span>
  <span>a</span>
  <span>s</span>
  <span>e</span>
  <span>&nbsp;</span>
  <span>I</span>
  <span>D</span>
  <span>e</span>
  <span>n</span>
  <span>t</span>
  <span>i</span>
  <span>f</span>
  <span>i</span>
  <span>c</span>
  <span>a</span>
  <span>t</span>
  <span>i</span>
  <span>o</span>
  <span>n</span>
<% end %>