<%= link_to root_path do %>
  <!-- MRDBID in Large Colorful Letters I hope -->
  <span class="text-red-500 text-4xl">M</span>
  <span class="text-orange-400 text-4xl">R</span>
  <span class="text-yellow-300 text-4xl">D</span>
  <span class="text-green-400 text-4xl">B</span>
  <span class="text-blue-400 text-4xl">I</span>
  <span class="text-indigo-400 text-4xl">D</span>

  <!-- Spacer -->
  <span>&nbsp;</span>

  <!-- MushRoom DataBase Identification with Only Key Letters Colorized -->
  <span class="text-red-500 text-2xl">M</span>
  <span class="text-violet-600 text-2xl">u</span>
  <span class="text-violet-600 text-2xl">s</span>
  <span class="text-violet-600 text-2xl">h</span>
  <span class="text-orange-400 text-2xl">R</span>
  <span class="text-violet-600 text-2xl">o</span>
  <span class="text-violet-600 text-2xl">o</span>
  <span class="text-violet-600 text-2xl">m</span>
  <span class="text-violet-600 text-2xl">&nbsp;</span>
  <span class="text-yellow-300 text-2xl">D</span>
  <span class="text-violet-600 text-2xl">a</span>
  <span class="text-violet-600 text-2xl">t</span>
  <span class="text-violet-600 text-2xl">a</span>
  <span class="text-green-400 text-2xl">B</span>
  <span class="text-violet-600 text-2xl">a</span>
  <span class="text-violet-600 text-2xl">s</span>
  <span class="text-violet-600 text-2xl">e</span>
  <span>&nbsp;</span>
  <span class="text-blue-400 text-2xl">I</span>
  <span class="text-indigo-400 text-2xl">D</span>
  <span class="text-violet-600 text-2xl">e</span>
  <span class="text-violet-600 text-2xl">n</span>
  <span class="text-violet-600 text-2xl">t</span>
  <span class="text-violet-600 text-2xl">i</span>
  <span class="text-violet-600 text-2xl">f</span>
  <span class="text-violet-600 text-2xl">i</span>
  <span class="text-violet-600 text-2xl">c</span>
  <span class="text-violet-600 text-2xl">a</span>
  <span class="text-violet-600 text-2xl">t</span>
  <span class="text-violet-600 text-2xl">i</span>
  <span class="text-violet-600 text-2xl">o</span>
  <span class="text-violet-600 text-2xl">n</span>
<% end %>