@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    @apply font-sans text-gray-900;
    font-family: 'Inter', sans-serif;
}

header {
    @apply bg-gray-100 py-5;
}

header nav ul {
    @apply list-none flex justify-center p-0 m-0;
}

header nav ul li {
    @apply mx-4;
}

header nav ul li a {
    @apply no-underline text-gray-900 font-bold;
}

header nav ul li a:hover {
    @apply underline;
}

.hero {
    @apply text-center py-12 bg-gray-200;
}

.hero h1 {
    @apply text-4xl mb-4;
}

.hero p {
    @apply text-xl text-gray-600;
}

footer {
    @apply text-center py-5 bg-gray-100;
}

footer p {
    @apply m-0;
}

.specimen_name {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.wider-input {
    width: 600px; /* Adjust the width as needed */
    padding: 6px; /* Adds space inside the input */
    margin-right: 10px; /* Space between the input field and the button */
}

.spaced-button {
    margin-left: 10px; /* Adds space to the left of the button */
}

.consistent-width {
    width: 60%; /* You can adjust the percentage or use a fixed width */
    padding: 6px; /* Adds space inside the input */
    margin-right: 10px; /* Space between the input field and the button */
    background-color: white;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px; /* Adjust space between label and select */
}

.radio-cell {
    display: flex;
    align-items: center;
}

.radio-wrapper {
    display: flex;
    align-items: center;
}

.radio-button {
    margin-right: 0.5rem; /* Adjust the spacing as needed */
}

.radio-label {
    white-space: nowrap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
