<% content_for :title, "New Cluster" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">New Cluster</h1>
  <div><p>app/views/admin/lookup_types/new.html.erb</p></div>
  <%= render "form", lookup_type: @lookup_type %>

  <%= link_to "Back to Clusters", admin_lookup_types_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
