<% content_for :title, "Showing lookup_type" %>
<div><p>app/views/admin/lookup_types/show.html.erb</p></div>
<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing lookup_type</h1>

  <%= render @lookup_type %>

  <%= link_to "Show", admin_lookup_type_path(@lookup_type), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Edit", edit_admin_lookup_type_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%# button_to "Delete", admin_lookup_type_path(@lookup_type), method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
