<% content_for :title, "Editing source_data_type" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Editing source data types</h1>

  <%= render "form", source_data_type: @source_data_type %>
</div>
