<% content_for :title, "Showing source data type" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Showing source data type</h1>

  <%= render @source_data_type %>

  <%= link_to "Edit this source data type", edit_admin_source_data_type_path(@source_data_type), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to source data types", admin_source_data_types_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= button_to "Delete this source data type", admin_source_data_type_path(@source_data_type), method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
