<% content_for :title, "Editing MB List" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Editing MB List</h1>

  <%= render "form", mb_list: @mb_list %>

  <%= link_to "Show this MB List", admin_mb_list_path(@mb_list), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to MB Lists", admin_mb_lists_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
