<div>
  <h1 class="text-4xl font-bold">The Big Detour to MRDBID</h1>
  <p class="mt-3 text-lg leading-relaxed">
    When I attempted to identify mushrooms, I quickly got lost in notes and clutter due to my lack of an identification process. This aggravation led me to create a php project that would allow me to store specimen data including a list of characteristics using lookup tables that listed options for each characteristic. I began with Kit Scates 1982 Chart "Easy Guide To Mushrooms Descriptions." I read magazine and newsletter articles, websites, and books on mushrooms and added some characters to my list.
  </p>
  <p class="mt-3 text-lg leading-relaxed">I understood that the ultimate identification, at my level, anyway, was dna sequencing. Not that I would do the sequencing, but that the sequencing data would be available. I am also aware of the ongoing expert process of reevaluating mushroom taxonomy, but that is over my head.</p>
  <p class="mt-3 text-lg leading-relaxed">I did have the nagging question "if a mushroom has a valid dna identification to genus or species or whatever, <b>what did it look like, and what were it's characteristics?"</b></p>

  <p class="mt-3 text-lg leading-relaxed">Scates was an expert in mycology, but the limitations of printing on paper led to the "plan ahead" problem in her chart, resulting in the second page needing more fleshing out. There were more etc. as she went along. But it was my start. We have computers now, so I don't have to worry about the "plan ahead" problem of running out of space on a paper chart or book, as long as I do some planning on the data.</p>

  <p class="mt-3 text-lg leading-relaxed">But my amazing php code soon got out of hand and impossible to maintain, so I moved to a Laravel framework, which did not work for me despite my best efforts over wasted months. Then I took to Node, which was working, until I ran across <a class="text-blue-600 underline" href="https://mushroomobserver.org/species_lists/1417?q">Simple & Advanced Characters With Taxonomic Value For Stipitate-Lamellate Mushroom</a> at https://mushroomobserver.org/species_lists/1417?q by Excited delirium [EXD].</p>

  <p class="mt-3 text-lg leading-relaxed">Not only did Excited delirium [EXD]'s words make sense to me, they had a comprehensive list of characters!</p>

  <p class="mt-3 text-lg leading-relaxed">Back to the "plan ahead" problem; <b>etc.</b> (as in Scates' chart) – means what? More to come? If etc.is defined as "to avoid giving a complete list," this definition assumes a complete list exists! <b>Now is the time</b> to add details and clarification. I will use what I have found in https://mushroomobserver.org/species_lists/1417?q=1mg6c for original work, but editing and addition by mycological <u>experts</u> needs to be done in many areas. An excellent photograph or illustration of each character would be very helpful. I know these probably exist somewhere. But I am not going to seek them out, even if time allowed, due to my lack of experience with copyright laws and use.</p>

  <p class="mt-3 text-lg leading-relaxed">
    I am NOT a mycological expert. I am simply attempting to create a valid set of characters to be used in the process of identifying mushrooms. This set should be modified by legitimate experts as needed for accuracy and ease of use.</p>

  <p class="mt-3 text-lg leading-relaxed">
    This process includes forms to view, create, and update characters. A character's value will reveal itself over time. If one character is used routinely and another character similar to it is seldom or never used, the decision is made for us? Or not, if there is any future value to leaving it alone and in the dark of the database.</p>

  <p class="mt-3 text-lg leading-relaxed">
    As of September 2025, I do not know the creator of the list I began with on this project. Nor do I know other experts whose works I have read. I have been working at my own pace over time to create such a list. I have cobbled together what amounts to a subset of this list, which is currently at <s>500+</s>  <s>600+</s> 700+ rows with more to come. As I said earlier, my original project began with php, then Laravel framework, briefly to node, then on to Ruby On Rails where I am right now. <u>Mushroom Observer uses Ruby On Rails.</u></p>

  <p class="mt-3 text-lg leading-relaxed">
    I once had a working <b>php</b> site that allowed users with appropriate permissions to add and edit individual characters.  I believe I have that now with Rails, or I am getting close to it. The complete process will never be finished.</p>

  <p class="mt-3 text-lg leading-relaxed">
    This code will be available on <a class="text-blue-600 underline" href="https://github.com/mrdbidwill/mrdbid">GitHub</a> at https://github.com/mrdbidwill/mrdbid and free for anyone to use as needed. I will add the lists of characters in .txt or .sql formats, which will save a lot of clerical type work for some?</p>

  <p class="mt-3 text-lg leading-relaxed">But where to go RIGHT NOW?</p>

  <p class="mt-3 text-lg leading-relaxed">I have added EXD's data to my existing MRDBID data. EXD data is now the bulk of the total data. I am not trying to steal any of EXD's work, but I am trying to create something that is useful for everyone. Hopefully, EXD will be supportive of this effort.</p>

  <p class="mt-3 text-lg leading-relaxed">When? Now is <b>NOW</b> and I am 71 years old. No time like the present.</p>

  <p class="mt-3 text-lg leading-relaxed">
    <b>IF NOTHING ELSE,</b> the database files and data lists will be available for others to use and improve upon.</p>

  <p class="mt-3 text-lg leading-relaxed">I will keep my mushroom identification process in place as the jumping off point for improving the characters. This is different from keys and textbooks where a genus and/or species will have a range of sizes or differences. My mushroom specimen is ONE specimen. It has <b>one</b> height and <b>one</b> width for any height or width character. The baby mushroom is different from the young mushroom which is different from the adult mushroom. There is no range of measurement for things like width and height. Each specimen has its own. Its cousin nearby needs to be entered as a separate specimen with its own dimensions and characters. Keep that in mind. The 'Clusters', 'Groups', and 'Projects' may be helpful. That said, there is nothing stopping anyone from creating 'composite' mushroom entries if they desire.</p>

  <p class="mt-3 text-lg leading-relaxed">Other than features only available to advance users, the mushroom data entered is public and searchable by any registered user. Admin and expert users can add and edit characters, which is a core goal of this whole process.</p>

  <p class="mt-3 text-lg leading-relaxed">How to communicate among users? There is always email, but most folks already get enough email. The 'Articles' option is one way to create content. Advanced users can use the 'description' and 'comments' fields for characters to convey their thoughts on individual characters. There may also be future additions to make the evolving process better.</p>
</div>