<h1>Welcome to MRDBID!</h1>

<h3 class="text-xl font-bold text-green-600">A personal mushroom storage notebook and much more...</h3>

<ol>
  <li> Register to be able to store your fungi data. If you have experience in mycology and want to actively participate in editing and adding characters, email me after you register letting me know your experience level and/or area of expertise, and I will modify your account accordingly.</li>
  <li> Login to enter and access your data.</li>
  <li> Add, View, and manage your data.</li>
  <li> <strong>Optional:</strong> Participate in editing and adding characters that are required to completely describe your fungi data if you have the experience to do so.</li>
</ol>

<p>To work on "Mushrooms" and other fungi, after you log in, click on the Mushrooms button.</p>

<p><span class="text-red-500">Notice: </span> <strong>There are <u>a lot</u> of characters to consider!</strong> Formatting them for the real world is one of the main goals and challenges for this website. This is a work in progress, and we are always looking for help to improve the accuracy and completeness of the data.</p>