<div>
  <h1 class="text-4xl font-bold">The Big Detour to MRDBID</h1>
  <p class="mt-6 text-lg leading-relaxed">
    When my interest in identifying mushroom was just beginning, I quickly got lost im my notes and clutter due to my lack of a identification process. I began writing a php project that would allow me to store specimens and include a list of characteristics with lookup tables for a list of options for each characteristic. I began with Kit Scates 1982 Chart "Easy Guide To Mushrooms  Descriptions" as best I could. Scates ran into the "plan ahead" problem resulting in the second page needing more fleshing out. But it was my start. I read magazine and newsletter articles, websites, and books on mushrooms and added some characters to my list.
  </p>
  <p class="mt-6 text-lg leading-relaxed">I understood that the ultimate identification, at my level, anyway, was dna sequencing. I am aware of the expert process of reevaluating mushroom taxonomy, but that is over my head.</p>
  <p class="mt-6 text-lg leading-relaxed">I did have the nagging question "if a mushroom has a valid dna identification to genus or species or whatever, <b>what did it look like, and what were it's characteristics?"</b> Well, we have computer now, and I don't have to worry about the "plan ahead" problem of running out of space on a paper chart or book, as long as I do some advance planning on the data.</p>
  <p class="mt-6 text-lg leading-relaxed"></p>
  <p class="mt-6 text-lg leading-relaxed"></p>
</div>