<div>
  <h1 class="text-3xl font-semibold mb-4">(Original) Home Page </h1>
  <p class="mt-6 text-lg leading-relaxed">
    This website is a tool for storing and organizing <u>data</u> for mushrooms
    that you observed and/or collected. Hopefully, it will provide a process that simplifies storing and
    retrieving <u>your</u> mushroom specimen <b>data</b> in order to compare it to other mushrooms that you and
    others have observed. Once your initial information is stored in the database, you can edit it as needed and
    add more character details as you discover them.</p>

  <p class="mt-6 text-lg leading-relaxed">The fact you observed a mushroom means you have some visual, time, and
    location data. That is enough to start. You name this specimen "something" that is meaningful to <b>you,</b>
    like "myinitials_1" or "myinitials_2", etc. with comment "brown mushroom - backyard". Or include the date,
    whatever works for you.</p>

  <p class="mt-6 text-lg leading-relaxed">There you go. A beginning. Any clear photo with <b>measurements</b>
    is a plus. <u>Use coins if a ruler is not handy</u>.</p>

  <div class="mt-10">
    <h3 class="text-2xl font-semibold mb-4">Measurements:</h3>

    <blockquote class="mt-6 text-sm text-orange-600 italic border-l-4 border-orange-400 pl-4 leading-relaxed">
      Richard W. Kerrigan's <i><b>AGARICUS</b> of NORTH AMERICA</i>, middle of page 22, "To estimate the size of specimens in the field, or to preserve scale information in photographs, it is useful to know the sizes of ordinary coins issued by the relevant nation. In the United States:"
    </blockquote>


    <div>
      <table class="table-auto border border-gray-300 w-full text-left text-sm">
        <thead>
        <tr class="bg-gray-100">
          <th class="border px-4 py-1">Coin</th>
          <th class="border px-4 py-1">Value</th>
          <th class="border px-4 py-1">Diameter</th>
        </thead>
        <tr>
          <td class="border px-4 py-1">Penny</td>
          <td class="border px-4 py-1">$0.01</td>
          <td class="border px-4 py-1">19.1 mm</td>
        </tr>
        <tr>
          <td class="border px-4 py-1">Nickel</td>
          <td class="border px-4 py-1">$0.05</td>
          <td class="border px-4 py-1">21.2 mm</td>
        </tr>
        <tr>
          <td class="border px-4 py-1">Dime</td>
          <td class="border px-4 py-1">$0.10</td>
          <td class="border px-4 py-1">17.9 mm</td>
        </tr>
        <tr>
          <td class="border px-4 py-1">Quarter</td>
          <td class="border px-4 py-1">$0.25</td>
          <td class="border px-4 py-1">24.3 mm</td>
        </tr>
      </table>
    </div>
  </div>
  <p class="mt-6 text-lg leading-relaxed">If you did not retrieve a specimen, when you get to the option of selecting
    where a specimen is currently located (preserved and stored), you can select "Observation Only - No specimen
    collected". </p>

  <p class="mt-6 text-lg leading-relaxed">If nothing more, now you know when and where you saw "it." This time next
    year, you may see it again, same place?</p>

  <p class="mt-6 text-lg leading-relaxed">This is not a "key" identification process, like <a
    href="https://www.mushroomexpert.com">https://www.mushroomexpert.com</a>. You can use MushroomExpert.Com
    and/or other identification experts to match up <b>your</b> specimen <u>data</u> that is stored here. In the
    future, perhaps enough positive identifications will result in a match within the mrdbid.com
    <b>database.</b></p>

  <p class="mt-6 text-lg leading-relaxed">Again, a specimen need not be collected to be entered here. These entries
    will be recorded as an "observation", not a "specimen".</p>


  <p class="mt-6 text-lg leading-relaxed">PS The "Trees" link began from photographs of the informational signs at
    Blakely State Park, Baldwin County, Alabama. It is the beginning of a tool for identifying the trees
    associated with mushrooms.</p>

  <p class="mt-6 text-lg leading-relaxed"><b>About Images:</b> I am not a photographer, an artist, or a scientist. My
    goal in observing or collecting specimens is to provide documentation of its facts that can be preserved for
    any future study. Good photographs with <b>measurements</b> make that possible.</p>

  <p class="mt-6 text-lg leading-relaxed">This website's upload process will reduce some pictures in size, if needed.
    Otherwise, any editing, cropping, etc. should be done before uploading.</p>

  <p class="mt-6 text-lg leading-relaxed">As part of the specimen collection process, my intention is to take the best
    picture I can <u>from the beginning</u> following a plan like outlined in the "Citizen Science How To Take
    Scientifically Useful Observations" link below.</p>

  <p class="mt-6 text-lg leading-relaxed">The most useful pictures will clearly document mushroom characters and <b>measurements</b>, along with surroundings (trees, etc.). If this is successfully
    done, anyone looking at the collection of pictures can confirm the data at any future date.</p>

  <p class="mt-6 text-lg leading-relaxed">This website is <b>not</b> a "field guide." You need to collect pictures and
    information where mushrooms are found, then transfer the data one time here for your records.</p>

  <h2 class="text-2xl font-semibold mt-10 mb-4">Where to begin?</h2>

  <p class="mt-6 text-lg leading-relaxed">If you do not know where to start, click on this link: <a class="text-blue-600 underline" href="https://alabamamushroomsociety.org/Citizen-Science">Citizen Science How To Take Scientifically
    Useful Observations</a></p>

  <!-- sez it cannot resolve - but it works -->
  <p class="mt-6 text-lg leading-relaxed"><img
    src="/images/AMS_Field_Data_Sheet_400x298.png" alt="AMS Field Data Sheet"></p>

  <!-- /storage/app/public/specimen_images/AMS_Field_Data_Sheet_400x298.png does not work -->

  <p class="mt-6 text-lg leading-relaxed">After completing the form <u>in the field</u>, take a picture of it with your
    specimen. Notice the <b class="text-orange-700">measurements</b> on the form. Then, once home and when you
    get around to it, add the data and the pictures you took of the specimen, including this form, to your
    specimen list. You then have it to refer to online wherever you are, and update as needed while you identify
    your specimen.</p>

  <p class="mt-6 text-lg leading-relaxed">You will get better with practice. Yes, a microscope helps and is not that
  difficult to learn to use, along with various chemicals to test reactions.</p>

  <p class="mt-6 text-lg leading-relaxed">Live and learn. <b>And measure.</b></p>
</div>