<% content_for :title, "Projects" %>

<div class="w-full">

  <div class="page-actions">
    <h1 class="title-xl">Projects</h1>
    <%= link_to "New project", new_project_path, class: "btn-primary" %>
  </div>

  <% if params[:mushroom_id].present? %>
    <% mushroom = Mushroom.find_by(id: params[:mushroom_id]) %>
    <% if mushroom %>
      <div class="my-4 p-4 bg-blue-50 border border-blue-300 rounded">
        <p class="text-sm font-semibold text-blue-900 mb-2">
          Adding mushroom "<%= mushroom.name || "Unnamed" %>" to a project
        </p>
        <p class="text-xs text-blue-700">Click "Add to This Project" button next to the project you want to add this mushroom to.</p>
      </div>
    <% end %>
  <% end %>

  <div id="projects" class="stack-list">
    <p class="p-mrdbid">You create projects to use however you see fit.</p>
    <p class="p-mrdbid">This page shows only <b>your projects</b> that you can edit or delete. Other users can attach your projects to their mushrooms, but cannot modify them.</p>
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <div class="stack-row">
          <%= render project %>
          <%= render "shared/page_actions",
                     right: (
                       (
                         (params[:mushroom_id].present? && Mushroom.exists?(params[:mushroom_id]) ?
                           link_to("Add to This Project", mushroom_projects_path(project_id: project.id, mushroom_id: params[:mushroom_id]), method: :post, class: "btn-primary", data: { turbo_confirm: "Add this mushroom to #{project.name}?" }) : "") +
                         link_to("Edit", edit_project_path(project), class: "btn-primary") +
                         button_to("Delete", project_path(project), method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure?" })
                       ).html_safe
                     )
          %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No projects found.</p>
    <% end %>
  </div>
</div>
