<h1 class="text-xl font-semibold mb-4">Edit Project</h1>

<%= render "form", project: @project %>

<div class="mt-4">
  <%= link_to "Back to mushrooms", mushrooms_path, class: "btn-primary" %>
</div>
