<div id="<%= dom_id country %>" class="w-full sm:w-auto my-2 space-y-2">
  <div>
    <strong class="block font-medium mb-1">Country: <%= country.name %></strong>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= country.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= country.comments %>
  </div>
</div>
