<div id="<%= dom_id country %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= country.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= country.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= country.comments %>
  </div>
</div>
