<% content_for :title, "Editing country" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing country</h1>

  <%= render "form", country: @country %>

  <%= link_to "Show this country", admin_country_path(@country), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to countries", admin_countries_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
