# File: app/views/contact_mailer/contact_message.html.erb
<h2>New contact form message</h2>
<p><strong>Name:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Subject:</strong> <%= @subject %></p>
<p><strong>Message:</strong><br><%= simple_format(@message) %></p>