<% content_for :title, "Editing role" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing role</h1>

  <%= render "form", role: @role %>

  <%= link_to "Show this role", admin_role_path(@role), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to roles", admin_roles_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
