<% content_for :title, "Editing source data" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing source data</h1>

  <%= render "form", source_data: @source_data %>

  <%= link_to "Show this source data", admin_source_data_path(@source_data), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to source data", admin_source_data_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
