<% content_for :title, "Editing all group" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing all group</h1>

  <%= render "form", all_group: @all_group %>

  <%= link_to "Show this all group", @all_group, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to all groups", all_groups_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
