<% content_for :title, "New all group" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">New all group</h1>

  <%= render "form", all_group: @all_group %>

  <%= link_to "Back to all groups", all_groups_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
