<% content_for :title, "Showing Group" %>

<div class="md:w-2/3 w-full">

  <h1 class="font-bold text-2xl">Showing Group</h1>

  <%= render @all_group %>

  <%= link_to "Edit this Group", edit_all_group_path(@all_group), class: "btn-primary" %>
  <%= link_to "Back to Groups", all_groups_path, class: "btn-primary" %>
  <%= button_to "Delete this Group", @all_group, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
</div>
