<% content_for :title, "Editing universal outer veil appearance" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing universal outer veil appearance</h1>

  <%= render "form", universal_outer_veil_appearance: @universal_outer_veil_appearance %>

  <%= link_to "Show this universal outer veil appearance", @universal_outer_veil_appearance, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to universal outer veil appearances", universal_outer_veil_appearances_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
