<% content_for :title, "New tree" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">New tree</h1>

  <%= render "form", tree: @tree %>

  <%= link_to "Back to trees", admin_trees_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
