<% content_for :title, "Showing tree" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Showing tree</h1>

  <%= render @tree %>

  <%= link_to "Edit this tree", edit_admin_tree_path(@tree), class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%= link_to "Back to trees", admin_trees_path, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  <%# button_to "Delete this tree", admin_tree_path(@tree), method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
</div>
