<% content_for :title, "Editing mr character mushroom" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing mr character mushroom</h1>

  <%= render "form", mr_character_mushroom: @mr_character_mushroom %>

  <%= link_to "Show this mr character mushroom", @mr_character_mushroom, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to mr character mushrooms", mr_character_mushrooms_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
